In [1]:
import os
import io
import pandas as pd
import dbf as dbfdd #pentru functia de stergere
from dbfread import DBF as dbffread #pentru conversie in dataframe
from dbfpy3 import dbf as dbfb, dbfnew, utils

In [2]:
#Exemplu citire primele 2 intrari
b_filename = "PARTENER.dbf"
db = dbfb.Dbf(b_filename)
for rec in range(2):
    print(db[rec])
    print('\n')

COD_FISCAL: 33123 (<class 'str'>)
SUBUNITATE: 0.0 (<class 'float'>)
      NUME: TRANSILVANIA GENERALIMPORT EXPORT.SRL (<class 'str'>)
   REG_COM:  (<class 'str'>)
LOCALITATE: RM.VALCEA (<class 'str'>)
     JUDET: VALCEA (<class 'str'>)
    STRADA:  (<class 'str'>)
        NR:  (<class 'str'>)
     BANCA:  (<class 'str'>)
     CONTB:  (<class 'str'>)
 COD_AGENT: 0.0 (<class 'float'>)
 ZILE_SCAD: 0.0 (<class 'float'>)
   ATRIBUT:  (<class 'str'>)
       TIP:  (<class 'str'>)
      BLOC:  (<class 'str'>)
     SCARA:  (<class 'str'>)
     APART:  (<class 'str'>)


COD_FISCAL: 14444712 (<class 'str'>)
SUBUNITATE: 0.0 (<class 'float'>)
      NUME: ELIT SRL (<class 'str'>)
   REG_COM:  (<class 'str'>)
LOCALITATE: CUGIR (<class 'str'>)
     JUDET: ALBA (<class 'str'>)
    STRADA:  (<class 'str'>)
        NR:  (<class 'str'>)
     BANCA:  (<class 'str'>)
     CONTB:  (<class 'str'>)
 COD_AGENT: 0.0 (<class 'float'>)
 ZILE_SCAD: 0.0 (<class 'float'>)
   ATRIBUT:  (<class 'str'>)
       TIP:  (<class 'str'>)
      BLOC:  (<class 'str'>)
     SCARA:  (<class 'str'>)
     APART:  (<class 'str'>)

In [3]:
#Exemplu inregistrare rand nou
rec=db.newRecord()
rec['COD_FISCAL']= 12345
rec['NUME']='TEST RN SRL'
db.append(rec)
db.flush()

In [4]:
#Modificare Item
rec = db[0]
rec["COD_FISCAL"] = "33123"
rec.store()
del rec

In [5]:
#Stergere item
def itemdeletep(database,index):
    filename=database.name
    database.close
    tbl = dbfdd.Table(filename)
    tbl.open(mode=dbfdd.READ_WRITE)
    rec = tbl[index]
    dbfdd.delete(rec)
    tbl.pack()
    tbl.close()
    del rec
    return dbfb.Dbf(filename)

In [6]:
#Exemplu printare structura
print(db.header)

Version (signature): 0x03
        Last update: 2019-01-29
      Header length: 577
      Record length: 261
       Record count: 15
 FieldName Type Len Dec
COD_FISCAL    C  13   0
SUBUNITATE    N  20   5
      NUME    C  40   0
   REG_COM    C  20   0
LOCALITATE    C  15   0
     JUDET    C  15   0
    STRADA    C  15   0
        NR    C   3   0
     BANCA    C  20   0
     CONTB    C  24   0
 COD_AGENT    N  20   5
 ZILE_SCAD    N  20   5
   ATRIBUT    C   3   0
       TIP    C   2   0
      BLOC    C  10   0
     SCARA    C  10   0
     APART    C  10   0

In [7]:
#Exemplu cautare item
tbl = dbfdd.Table(b_filename)
tbl.open(mode=dbfdd.READ_ONLY)
index = tbl.create_index(lambda rec: rec.cod_fiscal) # field should be actual field name
records = index.search(match=('15991149',),partial=True)
for rec in records:
    print(rec)
print('Index item',rec._recnum)
tbl.close()

  0 - cod_fiscal: '15991149     '
  1 - subunitate: 0.0
  2 - nume      : 'KAUFLAND ROMANIA SCS                    '
  3 - reg_com   : '                    '
  4 - localitate: 'RM VALCEA      '
  5 - judet     : 'VALCEA         '
  6 - strada    : '               '
  7 - nr        : '   '
  8 - banca     : '                    '
  9 - contb     : '                        '
 10 - cod_agent : 0.0
 11 - zile_scad : 0.0
 12 - atribut   : '   '
 13 - tip       : '  '
 14 - bloc      : '          '
 15 - scara     : '          '
 16 - apart     : '          '
Index item 3

In [8]:
#Exemplu creare dataframe
dbf = dbffread(b_filename)
frame = pd.DataFrame(iter(dbf))
del dbf #stergere fisier dbf
display(frame)

,COD_FISCAL,SUBUNITATE,NUME,REG_COM,LOCALITATE,JUDET,STRADA,NR,BANCA,CONTB,COD_AGENT,ZILE_SCAD,ATRIBUT,TIP,BLOC,SCARA,APART
0,33123,0.0,TRANSILVANIA GENERALIMPORT EXPORT.SRL,,RM.VALCEA,VALCEA,,,,,0.0,0.0,,,,,
1,14444712,0.0,ELIT SRL,,CUGIR,ALBA,,,,,0.0,0.0,,,,,
2,14659169,0.0,EUREX ALIMENTARE SRL,,BUCURESTI,,,,,,0.0,0.0,,,,,
3,15991149,0.0,KAUFLAND ROMANIA SCS,,RM VALCEA,VALCEA,,,,,0.0,0.0,,,,,
4,26128225,0.0,STALEX LOGISTIC SRL,,CEPARI,ARGES,,,,,0.0,0.0,,,,,
5,16910797,0.0,CASH&CANDY SRL,,SECTOR 2,BUCURESTI,SOS ANDRONACHE,,,,0.0,0.0,,,,,
6,6632642,0.0,FRIESLAND CAMPINA ROMANIA SA,,CLUJ NAPOCA,CLUJ,,,,,0.0,0.0,,,,,
7,34047970,0.0,LA MESENI,,,ALBA,,,,,0.0,0.0,,,,,
8,37022814,0.0,CANDY FRESH,,MIHAESTI,,,,,,0.0,0.0,,,,,
9,12345,0.0,TEST 3 SRL,b'',b'',b'',b'',b'',b'',b'',0.0,0.0,b'',b',b'',b'',b''
10,12345,0.0,TEST 3 SRL,b'',b'',b'',b'',b'',b'',b'',0.0,0.0,b'',b',b'',b'',b''
11,12345,0.0,TEST RN SRL,b'',b'',b'',b'',b'',b'',b'',0.0,0.0,b'',b',b'',b'',b''
12,12345,0.0,TEST RN SRL,b'',b'',b'',b'',b'',b'',b'',0.0,0.0,b'',b',b'',b'',b''
13,12345,0.0,TEST RN SRL,b'',b'',b'',b'',b'',b'',b'',0.0,0.0,b'',b',b'',b'',b''
14,12345,0.0,TEST RN SRL,b'',b'',b'',b'',b'',b'',b'',0.0,0.0,b'',b',b'',b'',b''

In [9]:
#Exemplu creare Tabel nou
dbf_banca = dbfnew.dbf_new()
dbf_banca.add_field("cod_firma",'N',2)
dbf_banca.add_field("cont",'C',11)
dbf_banca.add_field("data",'D',8)
dbf_banca.add_field("cod_fiscal",'C',13)
dbf_banca.add_field("tip_doc",'C',1)
dbf_banca.add_field("nr_doc",'C',10)
dbf_banca.add_field("data_doc",'D',8)
dbf_banca.add_field("tip_oper",'N',1)
dbf_banca.add_field("tip_dec",'N',2)
dbf_banca.add_field("cont_deb",'C',11)
dbf_banca.add_field("cont_cred",'C',11)
dbf_banca.add_field("valoare",'N',14,2)
dbf_banca.add_field("explicatii",'C',30)
dbf_banca.add_field("moneda",'C',3)
dbf_banca.add_field("curs",'N',10,4)
dbf_banca.add_field("art",'L',1)
dbf_banca.add_field("cod_cr",'C',22)
dbf_banca.add_field("tva",'N',2)
dbf_banca.add_field("gest",'C',1)
dbf_banca.add_field("litri_comb",'N',10,3)
dbf_banca.add_field("camp",'N',1)
dbf_banca.add_field("cont_gest",'C',11)
dbf_banca.add_field("cod_activ",'C',2)
dbf_banca.add_field("cod_lucr",'C',10)
dbf_banca.add_field("cod_utauto",'C',10)
dbf_banca.add_field("nr_ord",'N',5)
dbf_banca.add_field("definitiv",'L',1)
dbf_banca.write('db_banca.dbf')
del dbf_banca

In [10]:
dbfn = dbfb.Dbf('db_banca.dbf')
rec=dbfn.newRecord()
rec['cod_firma']=1
rec['cod_fiscal']=234210
rec['data']=(1992,7,15) # utils.getDate() fie de tipul (1992,7,15)
dbfn.append(rec)
dbfn.flush()
print(dbfn.header)

Version (signature): 0x03
        Last update: 2019-01-29
      Header length: 897
      Record length: 212
       Record count: 1
 FieldName Type Len Dec
 COD_FIRMA    N   2   0
      CONT    C  11   0
      DATA    D   8   0
COD_FISCAL    C  13   0
   TIP_DOC    C   1   0
    NR_DOC    C  10   0
  DATA_DOC    D   8   0
  TIP_OPER    N   1   0
   TIP_DEC    N   2   0
  CONT_DEB    C  11   0
 CONT_CRED    C  11   0
   VALOARE    N  14   2
EXPLICATII    C  30   0
    MONEDA    C   3   0
      CURS    N  10   4
       ART    L   1   0
    COD_CR    C  22   0
       TVA    N   2   0
      GEST    C   1   0
LITRI_COMB    N  10   3
      CAMP    N   1   0
 CONT_GEST    C  11   0
 COD_ACTIV    C   2   0
  COD_LUCR    C  10   0
COD_UTAUTO    C  10   0
    NR_ORD    N   5   0
 DEFINITIV    L   1   0

In [11]:
#Utile
#db.close() #Inchide db
#len(db)     #afiseaza numar inregistrari
#print(db.header) #printeaza structura tabel